<mat-sidenav-container fxFill>
  <mat-sidenav #sidenav opened mode="side">
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="'/mock-server/git-agent'"
        routerLinkActive="active"
      >
        Git Agent
      </a>
      <!-- (click)="sidenav.close()" -->
      <a
        mat-list-item
        [routerLink]="'/mock-server/create-tenant'"
        routerLinkActive="active"
      >
        Create Tenant
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <span class="sidebar-men-toggle">
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">{{sidenav.opened ? 'keyboard_arrow_left' : 'menu'}}</mat-icon>
      </button>
    </span>
  </mat-sidenav-content>
</mat-sidenav-container>
