<div class="mat-typography container">
  <h2 class="title">Start Git Agent</h2>
  <mat-divider></mat-divider>
  <form fxLayout="column" novalidate [formGroup]="gitAgentForm">
    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutGap="20px"
      fxLayoutGap.lt-md="0px"
    >
      <mat-form-field fxFlex="40">
        <input
          matInput
          placeholder="Agent Name"
          formControlName="agentName"
          [ngClass]="{
            'is-invalid':
              (gitAgentForm.get('agentName').touched ||
                gitAgentForm.get('agentName').dirty) &&
              !gitAgentForm.get('agentName').valid
          }"
        />
        <mat-error
          *ngIf="
            (gitAgentForm.get('agentName').touched ||
              gitAgentForm.get('agentName').dirty) &&
            !gitAgentForm.get('agentName').valid
          "
        >
          Required field, must at least 3 characters.
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="40">
        <mat-label>Environment</mat-label>
        <mat-select formControlName="environment" required>
          <mat-option *ngFor="let env of environments" [value]="env">
            {{ env.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="gitAgentForm.get('environment').touched"
          >Please choose an enviornment.</mat-error
        >
      </mat-form-field>
    </div>
    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutGap="20px"
      fxLayoutGap.lt-md="0px"
    >
      <mat-form-field fxFlex="40">
        <input
          matInput
          placeholder="Host"
          formControlName="host"
          [ngClass]="{
            'is-invalid':
              (gitAgentForm.get('host').touched ||
                gitAgentForm.get('host').dirty) &&
              !gitAgentForm.get('host').valid
          }"
        />
        <mat-error
          *ngIf="
            (gitAgentForm.get('host').touched ||
              gitAgentForm.get('host').dirty) &&
            !gitAgentForm.get('host').valid
          "
        >
          Required field.
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="40">
        <input
          matInput
          placeholder="Port"
          formControlName="port"
          [ngClass]="{
            'is-invalid':
              (gitAgentForm.get('port').touched ||
                gitAgentForm.get('port').dirty) &&
              !gitAgentForm.get('port').valid
          }"
        />
        <mat-error
          *ngIf="
            (gitAgentForm.get('port').touched ||
              gitAgentForm.get('port').dirty) &&
            !gitAgentForm.get('port').valid
          "
        >
          Required field.
        </mat-error>
      </mat-form-field>
    </div>

    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutGap="20px"
      fxLayoutGap.lt-md="0px"
    >
      <mat-form-field fxFlex="40">
        <input
          matInput
          type="number"
          placeholder="Tenant"
          formControlName="tenant"
          [ngClass]="{
            'is-invalid':
              (gitAgentForm.get('tenant').touched ||
                gitAgentForm.get('tenant').dirty) &&
              !gitAgentForm.get('tenant').valid
          }"
        />
        <mat-error
          *ngIf="
            (gitAgentForm.get('tenant').touched ||
              gitAgentForm.get('tenant').dirty) &&
            !gitAgentForm.get('tenant').valid
          "
        >
          Required field.
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="40">
        <input
          matInput
          type="number"
          placeholder="Project ID"
          formControlName="projectId"
          [ngClass]="{
            'is-invalid':
              (gitAgentForm.get('projectId').touched ||
                gitAgentForm.get('projectId').dirty) &&
              !gitAgentForm.get('projectId').valid
          }"
        />
        <mat-error
          *ngIf="
            (gitAgentForm.get('projectId').touched ||
              gitAgentForm.get('projectId').dirty) &&
            !gitAgentForm.get('projectId').valid
          "
        >
          Required field.
        </mat-error>
      </mat-form-field>
    </div>

    <div formArrayName="gitReps">
      <div
        [formGroupName]="i"
        *ngFor="let gitRep of gitReps.controls; let i = index"
      >
        <div
          fxLayout="row"
          fxLayout.lt-md="column"
          fxLayoutGap="20px"
          fxLayoutGap.lt-md="0px"
        >
          <mat-form-field fxFlex="40">
            <input matInput placeholder="Git URL" formControlName="gitUrl" />
            <mat-error>
              Required field.
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="40">
            <input
              matInput
              placeholder="Git Branch"
              formControlName="gitBranch"
            />
            <mat-error>
              Required field.
            </mat-error>
          </mat-form-field>

          <div fxFlex>
            <button mat-icon-button type="button" [disabled]="gitReps.length === 3" (click)="addGitRep()" color="primary">
              <mat-icon>add_box</mat-icon>
            </button>
            <button mat-icon-button type="button" [disabled]="gitReps.length === 1" (click)="deleteGitRep(i)" color="primary">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="m-t--30">
      <button mat-raised-button color="primary">
        <mat-icon>play_circle_outline</mat-icon>
        Start
      </button>
    </div>
  </form>
  <!--
    <mat-grid-list cols="2" rowHeight="60px">
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Agent Name">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-select placeholder="Environment">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Host">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Port">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Tenant">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input matInput placeholder="Project Id">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>-->
</div>
