/* You can add global styles to this file, and also import other style files */
@import "~@ag-grid-community/all-modules/dist/styles/ag-grid.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.absolute {
  position: absolute;
}

.width--100 {
  width: 100%;
}

.height--100 {
  height: 100%;
}

.position-top-0 {
  top: 0px;
}

.m-10 {
  margin: 10px;
}

.m-t--30 {
  margin-top: 30px;
}

.p-10 {
  padding: 10px;
}

.overflow-auto {
  overflow: auto;
}

.h-p-80 {
  height: 80%;
}



