.section {
  margin: 10px 0;
}

.protocols-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.actions-wrapper {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.locations-wrapper {
  margin: 10px 0;
}
