<div fxFill fxLayout="center center" class="container">
  <mat-horizontal-stepper linear #stepper labelPosition="bottom" fxFill>
    <mat-step [stepControl]="stepOne.firstFormGroup">
      <ng-template matStepLabel>Environment</ng-template>
      <ct-create-test-stepper-one #stepOne></ct-create-test-stepper-one>
    </mat-step>
    <mat-step [stepControl]="stepTwo.secondFormGroup">
      <ng-template matStepLabel>Protocols</ng-template>
      <ct-create-test-stepper-two #stepTwo></ct-create-test-stepper-two>
    </mat-step>
    <mat-step [stepControl]="stepThree.thirdFormGroup">
      <ng-template matStepLabel>Features</ng-template>
      <ct-create-test-stepper-three #stepThree></ct-create-test-stepper-three>
    </mat-step>
    <mat-step [stepControl]="stepFour.forthFormGroup">
      <ng-template matStepLabel>Regions</ng-template>
      <ct-create-test-stepper-four #stepFour></ct-create-test-stepper-four>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Location</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
